<footer class="footer container">
  <a href="https://ko-fi.com/dragonflyclub" target="_blank" referrerpolicy="nofollow" class="panel" style="background-image: url(/shirt.png)">
    <div class="overlay" style="text-align: right !important;">
      <h5>Buy me a Ko-fi</h5>
      <p>成为 Island岛屿 建设者</p>
    </div>
  </a>

  <p class="legal" style="float: right; text-align: right">
    <a href='https://mast.dragon-fly.club'>Island 岛屿</a> · <a href='https://mast.dragon-fly.club/@holgerhuo' target='_blank'><i class='fab fa-mastodon'></i></a> · <a href='/index.xml' target='_blank'><i class='fa fa-rss'></i></a> · <a href='https://twitter.com/holger_huo' rel='nofollow' target='_blank'><i class='fab fa-twitter'></i></a>
  </p>
  <p class="legal"><a href='https://github.com/dragonfly-club/island-io/tree/main/content/{{.File.Path}}'>View source</a> · <a href='https://creativecommons.org/licenses/by-nc-sa/4.0/'>CC BY-NC-SA 4.0</a><!-- · <a href='/imprint'>Imprint</a>--></p>
</footer>
