<footer class="footer container">
  <a href="https://ko-fi.com/dragonflyclub" target="_blank" referrerpolicy="nofollow" class="panel" style="background-image: url(/shirt.png)">
    <div class="overlay" style="text-align: right !important;">
      <h5>Buy me a Ko-fi</h5>
      <p>成为 Island岛屿 建设者</p>
    </div>
  </a>

  <p class="legal" style="float: right; text-align: right">
    <a href='https://mast.dragon-fly.club'>Island 岛屿</a> · <a href='https://mast.dragon-fly.club/@holgerhuo' target='_blank'><i class='fab fa-mastodon'></i></a> · <a href='/index.xml' target='_blank'><i class='fa fa-rss'></i></a> · <a href='https://twitter.com/holger_huo' rel='nofollow' target='_blank'><i class='fab fa-twitter'></i></a>
  </p>
  <div style="display: none;" id="seo">
      <a href="https://mast.dragon-fly.club/">island</a>
      <a href="https://mast.dragon-fly.club/@holgerhuo">snsh</a>
      <a href="https://mast.dragon-fly.club/@holgerhuo.rss">snshi</a>
      <a href="https://mast.dragon-fly.club/@martincao">snsm</a>
      <a href="https://mast.dragon-fly.club/@martincao.rss">snsmi</a>
      <a href="https://mast.dragon-fly.club/@how">snsh</a>
      <a href="https://mast.dragon-fly.club/@how.rss">snshi</a>
      <a href="https://mast.dragon-fly.club/@yh">snsh</a>
      <a href="https://mast.dragon-fly.club/@lin">snsh</a>
      <a href="https://mast.dragon-fly.club/@Avery">snsh</a>
      <a href="https://i.holger.net.cn/">ms</a>
      <a href="https://blog.holger.net.cn/">blog</a>
      <a href="https://blog.holger.net.cn/sitemap.xml">holger's blog</a>
      <a href="https://blog.mast.dragon-fly.club/index.xml">island blog</a>
  </div>
  <p class="legal"><a href='https://github.com/holgerhuo/island-blog.io/tree/main/content/{{.File.Path}}'>View source</a> · <a href='https://creativecommons.org/licenses/by-nc-sa/4.0/'>CC BY-NC-SA 4.0</a><!-- · <a href='/imprint'>Imprint</a>--></p>
</footer>
